

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Directory listing PiNas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="width:100vw;height:100vh;background-color: lightblue;">
  <div class="row" style="max-width: 100%;height: 100%;">
    <div class="col" style="margin:auto; border-radius: 5px;margin-left: 20px;margin-right: 20px; background-color: white;">
      <h3>Nieuw bestand uploaden</h3>
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleFormControlFile1">Bestand</label>
          <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Uploaden</button>
      </form>      
    </div>
    <div class="col-8" style="margin:auto;border-radius: 5px;margin-left: 20px;margin-right: 20px; background-color: white;">
      <h3>{{CURRENT_DIR}}:</h3>
      <div >
        <ul class="list-group">
          {{LISTINGS}}
        </ul>
      </div>
    </div>
  </div> 
</body>
</html>
